<!--The content below is only a placeholder and can be replaced.-->
<!-- Header Section -->
<section class="tophead" role="tophead"> 
  <!-- Navigation Section -->
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="#">White House</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="#header-slider">Home</a></li>
          <li><a href="#services">Our Services</a></li>
          <li><a href="#portfolio">Our Portfolio</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <!-- Navigation Section --> 
</section>
<!-- Header Section --> 
<!-- Slider Section -->
<section id="header-slider" class="section">
  <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active"> <img src="/assets/images/slider/slid1.jpg" alt="Chania">
        <div class="carousel-caption">
          <h3>Welcome to White House Ragama</h3>
          <p>Feel like home</p>
        </div>
      </div>
      <div class="item"> <img src="/assets/images/slider/slid2.jpg" alt="Chania">
        <div class="carousel-caption">
          <h3>Welcome to White House Ragama</h3>
          <p>Its not just a hotel</p>
        </div>
      </div>
    </div>
    <!-- Controls --> 
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span></a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span></a></div>
</section>
<!-- Slider Section --> 
<!-- Service Section -->
<section id="services" class="section services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="services-content">
          <h4>white house is a sri lankan tourism company.</h4>
          <p>There is nothing quite like traveling, like seeing a new place for the first time or returning to a favorite place. People of all ages, from all countries, travel to foreign places for many different reasons – namely work, family and leisure. Whether by plane, train, ship or automobile, travel is generally a pleasurable experience, at least for the people who can financially afford comfortable and safe methods of travel. But it has more benefits than satisfying one’s need to make money, as well as to see loved ones and enjoy one’s self on vacation. There are other benefits of traveling that many people often overlook.</p>
          <p>
            Travel reminds those paying attention that they are not the only ship in the sea, that this is a huge world and that they are only a small, insignificant pea in it. This is quite a humbling experience – to go to another country and see large numbers of peoples living differently, and coming to understand how large the crazy world actually is. When people who learn return home, they keep with them this perspective for the rest of their life and they benefit from this is knowledge and perspective.
            Another benefit to traveling is coming to see one’s native country in a different light, in a different way. This is done through being able to compare and contrast home from a foreign location, done most always through traveling. A new perspective may be formed.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="services-content">
          <h5>HOTEL FACILITIES</h5>
          <ul>
            <li><a href="#">Continental Breakfast</a></li>
            <li><a href="#">A/C Rooms</a></li>
            <li><a href="#">Dining Area</a></li>
            <li><a href="#">Free Wi-Fi</a></li>
            <li><a href="#">Free Parking</a></li>
            <li><a href="#">Children's Playground</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="services-content">
          <h5>OTHER CONVENIENCE</h5>
          <ul>
            <li><a href="#">Cycling can be enjoyed nearby</a></li>
            <li><a href="#">16 Km to the nearest airport</a></li>
            <li><a href="#">Walking distance to Ragama Basilica</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service Section --> 

<!-- portfolio grid section -->
<section id="portfolio" class="section portfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>The Shape of Design</h3>
            <h4>Branding/Graphic</h4>
          </div>
        </div>
        <img src="/assets/images/img1.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>czarna kawka</h3>
            <h4>Branding</h4>
          </div>
        </div>
        <img src="/assets/images/portfolio/work-2.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>czarna kawka</h3>
            <h4>Branding</h4>
          </div>
        </div>
        <img src="/assets/images/portfolio/work-3.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>czarna kawka</h3>
            <h4>Branding</h4>
          </div>
        </div>
        <img src="/assets/images/img2.jpg" class="img-responsive" alt=""> </a> </div>
      <!-- <div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>czarna kawka</h3>
            <h4>Branding</h4>
          </div>
        </div>
        <img src="/assets/images/portfolio/work-5.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>czarna kawka</h3>
            <h4>Branding</h4>
          </div>
        </div>
        <img src="/assets/images/portfolio/work-6.jpg" class="img-responsive" alt=""> </a> </div> -->
    </div>
  </div>
</section>
<!-- portfolio grid section --> 

<!-- Testimonials section -->
<section id="testimonials" class="section testimonials no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Phasellus non dolor nibh. Nullam elementum Aenean eu leo quam..." </h1>
                <p>Rene Brown, Open Window production</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Cras dictum tellus dui, vitae sollicitudin ipsum. Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat shasellus non dolor nibh. Nullam elementum tellus pretium feugiat." </h1>
                <p>Brain Rice, Lexix Private Limited.</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur...." </h1>
                <p>Andi Simond, Global Corporate Inc</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Lorem ipsum dolor sit amet, consectetur adipiscing elitPhasellus non dolor nibh. Nullam elementum tellus pretium feugiat. Cras dictum tellus dui sollcitudin." </h1>
                <p>Kristy Gabbor, Martix Media</p>
              </blockquote>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials section --> 

<!-- footer section -->
<footer id="contact" class="footer">
  <div class="container-fluid">
    <div class="col-md-2 left">
      <h4>Our Location</h4>
      <p>Narangodapaluwa, Batuwatta, Sri Lanka</p>
    </div>
    <div class="col-md-2 left">
      <h4>Contact</h4>
      <p> Call: 077xxxxxxx <br>
        Email : <a href="mailto:hello@agency.com"> wasabaj@gmail.com </a></p>
    </div>
    <div class="col-md-2 left">
      <h4>Social presense</h4>
      <ul class="footer-share">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="col-md-6 right">
      <p>© 2018 All rights reserved. All Rights Reserved<br>
        Made with <i class="fa fa-heart pulse"></i> by <a href="http://www.designstub.com/">Designstub</a></p>
    </div>
  </div>
</footer>